_libgcc_mutex==0.1
_openmp_mutex==5.1
alembic==1.8.1
anyio==3.6.1
beautifulsoup4==4.11.1
bs4==0.0.1
bzip2==1.0.8
ca-certificates==2022.07.19
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
fastapi==0.85.0
h11==0.14.0
idna==3.4
ld_impl_linux-64==2.38
libffi==3.3
libgcc-ng==11.2.0
libgomp==11.2.0
libstdcxx-ng==11.2.0
libuuid==1.0.3
mako==1.2.3
markupsafe==2.1.1
ncurses==6.3
openssl==1.1.1q
pip==22.2.2
pydantic==1.9.0
python==3.10.4
readline==8.1.2
requests==2.28.1
setuptools==63.4.1
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlalchemy==1.4.41
sqlite==3.39.3
starlette==0.20.4
tk==8.6.12
tqdm==4.64.1
typing-extensions==4.3.0
typing_extensions==4.3.0
tzdata==2022c
urllib3==1.26.12
uvicorn==0.18.3
wheel==0.37.1
xz==5.2.6
zlib==1.2.12
